@mixin desktop() {
  @media screen and ( min-width: 1024px ) {
    @content;
  }
}

@mixin tablet() {
  @media screen and ( min-width: 760px ) {
    @content;
  }
}

@mixin l-tablet() {
  @media screen and ( min-width: 900px ) {
    @content;
  }
}
  
body {
    margin: 0px;
}
  
img {
  object-fit: cover;
  width: 100%;
  margin: 0px;
}

.info_display {
  position: absolute;
  overflow: auto;
  width: 100vw;
  height: 0vh;
  background-color: #F5F5F5;
  border-left: solid 1px lightgray;
  

  &.active {
    height: 100vh - 35vh;
    @include desktop() {
      height: 100vh - 8vh;
      width: 45%;
      bottom: 0px;
      right: 0px;
    }
  }
}
.info_container {
  @include desktop() {
    display: grid;
    position: relative;
    top: 5vh;
    grid: "info" "buttons";
  }

  .info {
    width: 100%;
    padding: 0% 10% 10% 10%;
    @include desktop() {
      display: grid;
      grid-area: info;
    }

    .review_header {
      display: flex;
    }

    header > * {
      width: 100%;
      margin-top: 20px;
      text-align: center;
    }
  }

  .button_container{
    margin-top: 20px;
    @include desktop() {
      width: 40%;
      grid-area: buttons;
    }
  }

  .button_container > button {
    width: 130px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .main_info { 
    display: block;
    text-align: center;
    margin: 10px;
  }

  .review_list {
    width: 300px;
    margin: 0px;
    padding: 0px;
  }

  .address {
    position: relative;
    width: 200px;
    margin-top: 20px;
    right: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
    h3, p {
      grid-column: 1/8;
      @include desktop() {
        grid-column: 3/6;
      }
    }
  }
}