* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  nav {
    position: relative;
    height: 7vh;
    background: #1c2324;
    z-index: 4;
  }
  
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  
  .line {
      width: 30px;
      height: 3px;
      background: #e0e0e0;
      margin: 5px;
  }
  
  .nav-links_container {
    display: none;
    width: 100vw;
    height: 100vh;
    background: #1c2324;
    opacity: 0;
    transition: all .25s ease-out;
  }
  
  .nav-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    list-style: none;
    width: 70vw;
    height: 60vh;
    transform: translate(15vw, 20vh);
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    transition: all 0.25s;
  }
  
  .nav-links_container.open {
    opacity: 1;
    display: block;
  }
  
  .nav-links .link{
    font-size: 25px;
    text-decoration: none;
    color: #e0e0e0;
  }
  
  /* Hover not working */
  .nav-links .link:hover {
    color: #cede1a;
  }
  
  .nav-links .link:nth-child(1) {
    transition: all 0.5s ease-in 0.2s;
  }
  
  .nav-links .link:nth-child(2) {
    transition: all 0.5s ease-in 0.4s;
  }
  
  .nav-links .link:nth-child(3) {
    transition: all 0.5s ease-in 0.6s;
  }
  
  .link.fade {
    opacity: 1;
    cursor: pointer;
  }
  
  @media screen and (min-width: 769px) {
  
    nav {
      position: unset;
      color: #e0e0e0;
    }

  
    .hamburger {
      display: none;
      position: unset;
      cursor: unset;
    }
  
    .nav-links_container {
      display: block;
      width: unset;
      height: unset;
      opacity: 1;
    }
  
    .nav-links {
      padding-top: 20px;
      position: unset;
      flex-direction: unset;
      clip-path: unset;
      -webkit-clip-path: unset;
      height: 100%;
      width: 50%;
      background: unset;
      transform: unset;
    }
  
    .nav-links .link{
      opacity: 1;
    }
  
    .nav-links .link{
      font-size: 20px;
    }
  }