@import "../utilities/_variables.sass";

@mixin desktop() {
  @media screen and ( min-width: 1024px ) {
    @content;
  }
}

@mixin tablet() {
  @media screen and ( min-width: 760px ) {
    @content;
  }
}

@mixin l-tablet() {
  @media screen and ( min-width: 900px ) {
    @content;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

nav {
  position: fixed;
  display: grid;
  grid-template-rows: 15% 70% 15%;
  grid-template-columns: repeat(6, 1fr);
  height: 8vh;
  width: 100vw;
  background: #1c2324;
  z-index: 1;
  @include l-tablet() {
    z-index: 5;
  }
}

  
.searchbar_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
  @include desktop() {
    grid-column-end: 2; 
  }
}

.searchbar_input {
  border-radius: 20px;
  width: 35px;
  height: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 20px;
  background-color: rgba(0,0,0,0);
  color: rgba(255, 255, 255, 0);
  padding-left: 15px;
  transition: all 0.2s ease-out;
}

.searchbar_input:focus {
  width: calc(100% - 20px);
  color: rgba(255, 255, 255, 0.6);
}

.searchbar_input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0);
}

.searchbar_input:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  text-align: left;
}

#magnifying-glass {
  font-size: 40px; /* This controls the size. */
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border: 2px solid rgba(255, 255, 255, 0.6);
  position: absolute;
  border-radius: 0.35em;
  margin-left: 28px;
  margin-top: -0.05vw;
  z-index: -1;
  transition: all 0.3s ease-out;
}

#magnifying-glass::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -6px;
  bottom: -3px;
  border-width: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1));
  width: 8px;
  height: 2px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transition: all 0.3s ease-out;
}

#magnifying-glass.off {
  border: none;
}

#magnifying-glass.off::before {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;
  margin-left: 0px;
  grid-column-start: 6;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 2;
  z-index: 3;
  @include desktop() {
    grid-column: 2/2;
    margin-left: 20px;
  }
}

.search_btn_container {
  background: white;
  opacity: 0;
  position: relative;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-column-start: 6;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
  z-index: 2;
  transition: opacity 0.35s ease-out;
  cursor: pointer;

  &.on {
    opacity: 1;
  }


  .search_btn {
    background: rgba(0, 0, 0, 0);
    height: 3px;
    width: 0px;
    grid-row-start: 4;
    grid-row-end: 5;
    z-index: -1;
    margin: 0;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:before,
    &:after {
      content: "";
      background: rgba(0, 0, 0, 0);
      position: absolute;
      height: 3px;
      width: 15px;
      transition: all 0.3s ease-out;
    }

    &.on {
      width: 18px;
      border-top-right-radius: 25%;
      border-bottom-right-radius: 25%;
    }

    &.on, 
    &.on:before, 
    &.on:after {
      margin-left: 6px;
       background: #1c2324;
       z-index: 2;
    }

    &:before {
      right: -6.3px;
      bottom: -4px;
      transform: rotate(-45deg);
      border-radius: 3px;
    }

    &:after {
      right: -6.3px;
      top: -4px;
      transform: rotate(45deg);
      border-radius: 3px;
    }
  }
}

// to be integrated in next version
/* .newMsg_notification {
  display: none;
}

.newMsg_notification.newMsg {
  display: initial;
  background-color: $accent-color;
  border-radius: 50%;
  width: calc(1.7vw + 5px);
  height: calc(1.7vw + 5px);
  position: relative;
  top: 5%;
  right: 30%;
  margin-left: auto;
  margin-right: auto;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 2;
  pointer-events: none;
  z-index: 4;
  @include tablet() {
    right: 18%;
  }
  @include desktop() {
    display: none;
  }
} */

.hamburger_container {
  position: relative;
  left: 90%;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 2;
  z-index: 3;
  @include desktop() {
    display: none;
  }

  &.on {
    display: none;
    z-index: -1;
  }
}

.hamburger {
  cursor: pointer;
  grid-row: 2/3;
  grid-column: 2/6;
  @include tablet() {
    grid-column: 2/4;
    width: 85%;
  }
}

.line {
  height: 0.5vh;
  background: #e0e0e0;
  margin: 14%;
  transition: all 0.3s ease-out;


  &.on {
    width: 0px;
    margin-left: 35px;
    background: transparent;
    z-index: -1;
  }

}

// to be integrated in next version
/* .link.newMsg::after {
  display: inline-block;
  position: relative;
  top: -2px;
  right: -12px;
  width: 10px;
  height: 10px;
  margin-left: -7px;
  content: '';
  background-color: $accent-color;
  border-radius: 50%;
} */

.nav-links_container {
  display: block;
  width: 100vw;
  height: 0vh;
  grid-column-start: 1;
  grid-column-end: 7;
  background: #1c2324;
  opacity: 0;
  transition: opacity 0.15s ease-out;
  @include desktop() {
    width: 100%;
    height: 100%;
    opacity: 1;
    grid-row: 2/2;
    grid-column: 4/7;
    padding-left: 15%;
  }
}

.nav-links_container.open {
  opacity: 1;
  height: 100vh;
  z-index: 1;
  @include desktop() {
    height: unset;
  }
}

.nav-links {
  display: none;
  flex-direction: column;
  position: fixed;
  list-style: none;
  width: 70vw;
  height: 60vh;
  transform: translate(15vw, 20vh);
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  transition: all 0.25s;
  @include desktop() {
    display: grid;
    position: initial;
    transform: none;
    width: 100%;
    height: 100%;
    padding-top: 0px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.nav-links .link{
  font-size: 25px;
  text-decoration: none;
  color: #e0e0e0;
  @include tablet() {
    font-size: 35px;
  }
  @include l-tablet() {
    font-size: 40px;
  }
  @include desktop() {
    margin-left: 10%;
    font-size: 20px;
    z-index: 3;
  }
}

.nav-links .link:hover {
  color: #cede1a;
  cursor: pointer;
}

.nav-links .link:nth-child(1) {
  transition: all 0.1s ease-in;
}

.nav-links .link:nth-child(2) {
  transition: all 0.1s ease-in;
}

.nav-links .link:nth-child(3) {
  transition: all 0.1s ease-in;
}

.nav-links.fade {
  display: flex;
  opacity: 1;
  @include desktop() {
    display: grid;
  }
}